<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="css/style.css"/>
        <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
/>
        <script src="js/script.js"></script>
        <script
      src="https://kit.fontawesome.com/c4ee40b5d5.js"
      crossorigin="anonymous"
    ></script>
    </head>
    <body class="login-body">
        <main class="login-page">
            <div class="container login-container">
                <div class="left-half">
                    <img
            src="images/login_background_image.webp"
            alt="Image"
            id="background"
/>
                    <img src="images/MedAi_logo_dark.png" alt="Logo" id="logo"/>
                </div>
                <div class="right-half">
                    <div class="col d-flex flex-column justify-content-center">
                        <div class="login-heading">
                            <h1
                class="font-weight-bold"
                style="font-size: 42px; margin-bottom: 20px"
              >
                Login
              </h1>
                            <img
                src="images/darkmode_icon.png"
                alt="Dark mode toggle"
                width="45px"
                id="color-mode-icon"
/>
                        </div>
                        <form id="loginForm" action="/" method="post">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input
                  type= "text"
                  class="form-control"
                  name = "username"
                  id="username"
                  placeholder="Enter a Username"
/>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <div id="password-container">
                                    <input
                    type="password"
                    class="form-control"
                    name = "password"
                    id="password"
                    placeholder="Enter password"
/>
                                    <i class="fa-solid fa-eye" id="show-password-toggle"></i>
                                    {% if error_message %}
                                    <label style="color: red;">{{ error_message }}</label>
                                    {% else %}
                                    <label style="color: red;"></label>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mb-2">
                                <label class="d-flex align-items-center">
                                    <input type="checkbox" class="toggle-checkbox"/>
                                    <div class="toggle-switch"></div>
                                    <span class="ml-2">Remember me</span>
                                </label>
                                <a href="#" class="forgot-password align-self-center"
                  >Forgot password?</a
                >
                            </div>

                            <button type="submit" id="loginBtn" class="btn btn-block">Sign In</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>a